* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-color: #fff;
}

body {
  background-color:  #09090A;
  color: var(--text-color);

  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4.8rem;
  background-color: #09090a;
}

button {
  padding: 1.6rem 2.4rem;
  border-radius: .8rem;
  border: .1rem solid #8b5cf6;
  background-color: transparent;
  color: var(--text-color);

  display: flex;
  align-items: center;
  gap: 1.2rem;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 125%;
}

#form-habits {
  display: flex;

 padding: 18.2rem 4.8rem 4.8rem;
 width: fit-content;
}

.habits {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
  margin-top: 6rem;
}

.habit {
  width: 6.4rem;
  height: 6.4rem;

  font-size: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 4.8rem;

  margin-left: 3.2rem;
}

.day {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.day div {
  margin-bottom: 0.8rem;

  font-size: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  line-height: 125%;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 6.4rem;
  height: 6.4rem;

  border: .2rem solid #27272A;
  border-radius: .8rem;

  background-color: #18181B;
}

input:checked {
  background-color: #8b5cf6;
  border: .2rem solid #A78BFA;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}